CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

*.idea
*.kdev4
*.cbp

*.attr

*/cmake-build-debug
*/cmake-build-release
*/build
*/bin
*/lib

*/input
cthalfhyb_qmc/bin/output

*.so
*.o
*~

/python/noneq_qmc/InputGenerator.cpp
/python/noneq_qmc/QMCSolver.cpp
/python/noneq_qmc/CTHYB.cpp
/python/noneq_qmc/CTHALFHYB.cpp
